* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111;
}

.box {
  position: relative;
  color: #fff;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(45deg, #ffbc00, #ff0058);
}

.box::after {
  filter: blur(30px);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #ffbc00, #ff0058);
}

.box span {
  position: absolute;
  top: 6px;
  left: 6px;
  bottom: 6px;
  right: 6px;
  background: rgb(0, 0, 0, 0.6);
  z-index: 2;
}

.box span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgb(255, 255, 255, 0.1);
}

.box .content {
  position: relativ;
  z-index: 10;
  padding: 20px 40px;
}
